.variable_string {
	background-color: #00a0fe;
	color: #ffffff;
}

.variable_signature_pad {
	background-color: #ee5757;
	color: #ffffff;
}

.variable_select {
	background-color: #00a0fe;
	color: #ffffff;
}

.variable_image {
	background-color: #ee5757;
	color: #ffffff;
}

.variable_date {
	background-color: #00a0fe;
	color: #ffffff;
}
